<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="./node_modules/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app"></div>
    <script>
      // v-model
      // value   input

      // input v-model value

      const Modal = {
        template: `<div v-if="visible">

          modal

          <button @click="handleClick">x</button>


        </div>`,
        // props: ["value"],
        props: ["visible"],
        model: {
          prop: "visible",
          event: "close",
        },

        methods: {
          handleClick() {
            // props -> 不允许修改
            // this.show = false;
            this.$emit("close");
            // this.$emit("input");
          },
        },
      };

      const app = new Vue({
        el: "#app",
        components: {
          Modal,
        },
        data: {
          msg: "hello",
          showModel: false,
        },
        methods: {
          handleShowModel() {
            this.showModel = true;
          },
          handleCloseModel() {
            this.showModel = false;
          },
        },
        template: `<div>
        app
        <button @click="handleShowModel"> showModel</button>
        <Modal v-model="showModel"></Modal>
        </div>`,
      });
    </script>
  </body>
</html>
