<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="./node_modules/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <!-- <ul>
        <li v-for="(user,index) in users">
          {{index}} --{{user.name}} --{{user.age}}
        </li>
      </ul> -->

      <ul>
        <li v-for="(val,key,index) in info">
          <!-- {{index}} --{{user.name}} --{{user.age}} -->
          {{index}} -- {{val}} -- {{key}}
        </li>
      </ul>
    </div>
    <script>
      // js -> for for in foreach for of
      // vue -> v-for -> 数组 也可以 对象
      // 数组 -》 接收 2 个参数 一个是 item 另外一个是 index
      // object -> val,key,index
      const app = new Vue({
        el: "#app",
        data: {
          msg: "hello world",
          // users: [
          //   {
          //     name: "xiaohong",
          //     age: 18,
          //   },

          //   {
          //     name: "xiaohei",
          //     age: 20,
          //   },
          // ],

          info: {
            1: {
              name: "xiaohong",
              age: 18,
            },
            2: {
              name: "xiaohei",
              age: 20,
            },
          },
        },
      });
      window.app = app;
    </script>
  </body>
</html>
