<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="./node_modules/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      {{value}} {{checked}}
      <!-- <input type="text" @input="handleInput" /> -->
      <input type="text" v-model="value" />
      <!-- <input type="checkbox" name="" id="" @change="handleChange" /> -->
      <input type="checkbox" name="" id="" v-model="checked" />
    </div>
    <script>
      // v-model 语法糖
      // 双向绑定  xxx
      const app = new Vue({
        el: "#app",
        data: {
          msg: "hello world",
          value: "1321",
          checked: false,
        },

        methods: {
          // handleChange(e) {
          //   this.checked = e.target.checked;
          // },
          // handleInput(e) {
          //   console.log(e.target.value);
          //   this.value = e.target.value;
          //   // 特别频繁  也别繁琐
          //   // vue -> 语法糖 -》 v-model
          // },
        },
      });
      window.app = app;
    </script>
  </body>
</html>
